/*================== GOOGLE FONTS ==================*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Poppins:wght@400;500;600&display=swap');


/*================== VARIABLES CSS ==================*/
:root {
    --header-height: 3.5rem;

    /*====== Colors ======*/
    /*Color mode hsl(hue, saturation, lightness*/
    /* Purple: hsl(250, 66%, 75%);
    Blue: hsl(207, 90%, 72%);
    Pink: hsl(356, 66%, 75%);
    Teal: hsl(171, 63% 62%); */

    --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;

    --first-color: ;
    --first-color-alt: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --body-color: ;
    --container-color: ;
    
}